/* CHECKOUT */

#payment-split {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

#payment-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
}

#payment-form div {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

#payment-overview {
    gap: 0;
    border-spacing: 0;
}

#payment-overview td {
    padding: 8px 0;
}

#payment-overview tr:last-child td {
    border-top: 1px solid #000;
}

.payment-methods {
    background-color: #f7f7f7;
}

/* CART */

#cart {
	border-width: 0;
	padding: 0;
	width: 100%;
	border-spacing: 0;
}

#cart-header {
	font-weight: 600;
}

.cart-item {
	display: flex;
}

.cart-item td {
	padding: 12px 8px;
	border-bottom: 1px solid #131313;
}

.cart-item-name {
	width: 250px;
}

.cart-item-description {
	width: 50%;
}

.cart-item-details {
	width: 50%;
}

.cart-item-price {
	width: 100px;
	text-align: right;
}

.cart-item-actions {
	display: flex;
	width: 25px;
}

.cart-item-actions-button {
	color: #131313;
	cursor: pointer;
}

#cart-info {
	padding: 12px 8px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	margin-right: 33px;
}