<html>
<head>
	<title>Template - Nav</title>
	
	<!-- IMPORTS -->
	
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<script src="../js/scroll-progress.js" type="application/javascript"></script>
</head>
<body>
    <footer>
        <div class="container">
            <div class="grid4 h-wide">
                <div class="flex-vsb">
                    <img src="../assets/brand/Logo.png">
                    <i>since 2022</i>
                </div>
                <div>
                    <ul>
                        <li><a href="#">Websites</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Server</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#"><span><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-linkedin"></i>&nbsp; Linkedin</span></a></li>
                        <li><a href="mailto:support@nmhosting.de"><span><i class="fa-regular fa-envelope"></i>&nbsp; E-Mail</span></a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#"><span>AGB</span></a></li>
                        <li><a href="#"><span>Datenschutz</span></a></li>
                        <li><a href="#"><span>Impressum</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>