<html>
<head>
	<title>Template - Nav</title>
	
	<!-- IMPORTS -->
	
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<script src="../js/scroll-progress.js" type="application/javascript"></script>
</head>
<body>
	<nav>
		<div class="container">
			<ul>
				<li id="brand-logo"><a href=""><div class="ghost-logo"></div></a></li>
				<li><a href="#">Websites</a></li>
				<li><a href="#">Email</a></li>
				<li><a href="#">Server</a></li>
				<li class="nav-right no-padding"><a class="nav-min-padding" href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
				<li class="nav-right"><a class="nav-min-padding" href="#"><i class="fa-solid fa-user"></i></a></li>
			</ul>
		</div>
		<div id="scroll-progress-bar"></div>
	</nav>

	<!-- CODE BELOW -->

	<section class="hero-section">
		<div class="container">
			<div class="grid2">
				<div class="flex-vcenter">
					<h1>Websites für<br>Ihr Unternehmen</h1>
					<ul class="hero-usps">
						<li><i class="fa-solid fa-check"></i>&nbsp; Schnelle Ladezeiten</li>
						<li><i class="fa-solid fa-check"></i>&nbsp; Individuell anpassbar</li>
						<li><i class="fa-solid fa-check"></i>&nbsp; Unterstützung durch unsere Profis</li>
					</ul>
					<p>ab 4,99€ / Monat &nbsp;&nbsp;&nbsp;<a class="brand-button" href="#">Zu den Tarifen</a></p>
				</div>
				<div class="flex-vcenter">
					<img class="hero-image" width="600px" src="../assets/illustrations/wordpress-development-content-fit.png">
				</div>
			</div>
		</div>
	</section>
	
	<div style="height: 100px; background-color: #fff; color: #000;"></div>

	<section class="hero-section">
		<div class="container">
			<div class="grid2">
				<div class="flex-vcenter">
					<h1>Websites für<br>Ihr Unternehmen</h1>
					<ul class="hero-usps">
						<li><i class="fa-solid fa-check"></i>&nbsp; Schnelle Ladezeiten</li>
						<li><i class="fa-solid fa-check"></i>&nbsp; Individuell anpassbar</li>
						<li><i class="fa-solid fa-check"></i>&nbsp; Unterstützung durch unsere Profis</li>
					</ul>
					<p>ab 4,99€ / Monat &nbsp;&nbsp;&nbsp;<a class="brand-button" href="#">Zu den Tarifen</a></p>
				</div>
				<div class="flex-vcenter">
					<img class="hero-image" width="600px" src="../assets/illustrations/wordpress-development-content-fit.png">
				</div>
			</div>
		</div>
	</section>
</body>
</html>