<html>
<head>
	<title>Template - Nav</title>
	
	<!-- IMPORTS -->
	
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<script src="../js/scroll-progress.js" type="application/javascript"></script>
</head>
<body>
	<nav>
		<div class="container">
			<ul>
				<li id="brand-logo"><a href="../sites/index.html"><div class="ghost-logo"></div></a></li>
				<li>
					<div class="nav-dropdown">
						<a>Websites</a>
						<div class="nav-dropdown-content">
							<a href="../sites/websites/template.html">Vorlagen</a>
							<a href="../sites/websites/onlineshop.html">Webshop</a>
						</div>
					</div>
				</li>
				<li><a href="../sites/email/mailhosting.html">Email</a></li>
				<li>
					<div class="nav-dropdown">
						<a>Server</a>
						<div class="nav-dropdown-content">
							<a href="../sites/server/cloud.html">Cloud</a>
							<a href="../sites/server/rootserver.html">Rootserver</a>
							<a href="../server/managed-hosting.html">Managed Hosting</a>
						</div>
					</div>
				</li>
				<div class="nav-right">
					<li><a class="nav-min-padding" href="../sites/user/cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a class="nav-min-padding" href="../sites/user/settings.html"><i class="fa-solid fa-user"></i></a></li>
				</div>
			</ul>
		</div>
		<div id="scroll-progress-bar"></div>
	</nav>
</body>
</html>